[Unit]
Description=Gunicorn instance to serve StatsAPI
After=network.target

[Service]
User=xolon

WorkingDirectory=/home/chaozbot/StatsAPI
Environment="PATH=/usr/bin:/home/chaozbot/StatsAPI/.venv/bin"
ExecStart=/usr/bin/bash /home/chaozbot/StatsAPI/bin/prod

[Install]
WantedBy=multi-user.target